# Compiled
*.elc

# Native compilation cache
eln-cache/

# Packaging
.cask

# Backup files
*~

ac-comphist.dat
bookmarks
ido.last

elpa

network-security.data
secret.el
old.el
dbconnections.el

url
quelpa
\#*
.cache

emms/
eshell/
transient/
var/
tramp
session.*
custom.el

.org-id-locations
forge-database.sqlite
recentf
projects
request/

magithub/

tldr/

.litable-lists.el
aws.el
org-roam.db
ssh-config-keywords.txt

# Grammaires tree-sitter compilees (reinstallables par
# M-x my-treesit-install-missing-grammars)
tree-sitter/

# Sessions lsp-mode, retire au profit d'eglot
.lsp-session-v1

# Cache keyfreq
.emacs.keyfreq

# Paquets installes par package-vc
.package-vc-selected-packages.eld

# Trace du dernier purge de paquets orphelins
.purged-packages.txt
