# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

ac-comphist.dat
bookmarks
ido.last
smex-items

elpa

network-security.data
secret.el
old.el
dbconnections.el

url
quelpa
\#*
.cache

emms/
eshell/
transient/
var/
tramp
session.*
custom.el

.org-id-locations
forge-database.sqlite
recentf
request/

magithub/

tldr/
